# 파이썬 프로그래밍의 기초, 자료형

# 1. 숫자형

#### 정수형

In [157]:
a = 123
a = -178
a = 0

#### 실수형

In [158]:
a = 1.2
a = -3.45
a = 4.24E10
a = 4.24e-10

#### 8진수와 16진수

In [159]:
a = 0o177 #8진수
a = 0x8ff #16진수
b = 0xABC #16진수

#### 사칙연산

In [160]:
a = 3
b = 4

#덧셈
a + b

7

In [161]:
#뺄셈
a - b

-1

In [162]:
#곱셈
a * b

12

In [163]:
#나눗셈
a / b

0.75

#### 제곱 연산자

In [164]:
a = 3
b = 4
a ** b

81

#### 나머지 반환

In [165]:
7 % 3

1

#### 몫 반환

In [166]:
7 // 4

1

# 2. 문자열 자료형

### 문자열을 만드는 방법

#### 1. 큰따옴표(")로 양쪽 둘러싸기

In [167]:
"Hello world"

'Hello world'

#### 2. 작은따옴표(')로 양쪽 둘러싸기

In [168]:
'Python is fun'

'Python is fun'

#### 3. 큰따옴표 3개를 연속(""")으로 써서 양쪽 둘러싸기

In [169]:
"""Life is too short, You need python"""

'Life is too short, You need python'

#### 4. 작은따옴표 3개를 연속(''')으로 써서 양쪽 둘러싸기

In [170]:
'''Life is too short, You need python'''

'Life is too short, You need python'

### 문자열 안에 작은따옴표나 큰따옴표를 포함시키고 싶을 때

#### 1. 문자열에 작은따옴표(') 포함시키기

In [171]:
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

#### 2. 문자열에 큰따옴표(") 포함시키기

In [172]:
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

#### 3. 백슬래시(\)를 사용해서 작은따옴표(')와 큰따옴표(")를 문자열에 포함시키기

In [173]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."

food

"Python's favorite food is perl"

In [174]:
say

'"Python is very easy." he says.'

### 여러 줄인 문자열을 변수에 대입하고 싶을 때

#### 1. 줄을 바꾸는 이스케이프 코드 '\n' 삽입하기

In [177]:
multiline = "Life is too short\nYou need python"
multiline

'Life is too short\nYou need python'

#### 2. 연속된 작은따옴표 3개(''') 또는 큰따옴표 3개(""") 사용하기

In [112]:
multiline = '''
    Life is too short 
    You need python
    '''
print(multiline)

    Life is too short
    You need python

In [113]:
multiline = """
    Life is too short 
    You need python
    """
print(multiline)

    Life is too short
    You need python

### 문자열 연산하기

#### 1. 문자열 더해서 연결하기(Concatenation)

In [114]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

#### 2. 문자열 곱하기

In [115]:
a = "python"
a * 2

'pythonpython'

#### 3. 문자열 곱하기 응용

In [116]:
print("=" * 50)
print("My program")
print("=" * 50)

==================================================
My program
==================================================

#### 4. 문자열 길이 구하기

In [117]:
a = "Life is too short"
len(a)

17

### 문자열 인덱싱과 슬라이싱

### 문자열 인덱싱

In [118]:
a = "Life is too short, You need Python"
a[3]

'e'

#### 문자열 인덱싱 활용하기

In [119]:
a = "Life is too short, You need Python"
a[0]

'L'

In [120]:
a[12]

's'

In [121]:
a[-1]

'n'

In [122]:
a[-5]

'y'

### 문자열 슬라이싱

In [123]:
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [124]:
a = "Life is too short, You need Python"
a[0:4]

'Life'

#### 문자열을 슬라이싱하는 방법

In [125]:
a = "Life is too short, You need Python"
a[0:2]

'Li'

In [126]:
a[19:]

'You need Python'

In [127]:
a[:17]

'Life is too short'

In [128]:
a[:]

'Life is too short, You need Python'

### 문자열 포매팅

### 문자열 포매팅 따라하기

#### 1. 숫자 바로 대입

In [129]:
"I eat %d apples." % 3

'I eat 3 apples.'

#### 2. 문자열 바로 대입

In [130]:
"I eat %s apples." % "five"

'I eat five apples.'

#### 3. 숫자 값을 나타내는 변수로 대입

In [131]:
number = 3
"T eat %d apples." % number

'T eat 3 apples.'

#### 4. 2개 이상의 값 넣기

In [132]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

### 포맷 코드와 숫자 함께 사용하기

#### 1. 정렬과 공백

In [133]:
a = "%10s" % "hi"
a

'        hi'

In [134]:
a = "%-10sBomi" % 'hi'
a

'hi        Bomi'

#### 2. 소수점 표현하기

In [135]:
a = "%0.4f" % 3.4213123
a

'3.4213'

### format 함수를 사용한 포매팅

#### 1. 숫자 바로 대입하기

In [136]:
a = "I eat {0} apples".format(3)
a

'I eat 3 apples'

#### 2. 숫자 값을 가진 변수로 대입하기

In [137]:
number = 3
a = "I eat {0} apples".format(number) 
a

'I eat 3 apples'

#### 3.인덱스와 이름을 혼용해서 넣기

In [138]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

#### 4.정렬

In [139]:
"{0:<10}".format("hi") # 왼쪽 정렬

'hi        '

In [140]:
"{0:>10}".format("hi") # 오른쪽 정렬

'        hi'

In [141]:
"{0:^10}".format("hi") # 가운데 정렬

'    hi    '

#### 5. 공백 채우기

In [142]:
"{0:=^10}".format("hi")

'====hi===='

#### 6. 소수점 표현하기

In [143]:
y = 3.42134234
"{0:<0.4f}".format(y)

'3.4213'

### f 문자열 포매팅

In [144]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}살 입니다.'

'나의 이름은 홍길동입니다. 나이는 30살 입니다.'

In [145]:
f'{"hi":<10}' # 왼쪽 정렬

'hi        '

In [146]:
f'{"hi":>10}' # 오른쪽 정렬

'        hi'

In [147]:
f'{"hi":^10}' # 가운데 정렬

'    hi    '

In [148]:
f'{"hi":!^10}' # 가운제 정렬하고 ! 문자로 공백 채우기

'!!!!hi!!!!'

In [149]:
y = 3.42134234
f'{y:0.4f}'

'3.4213'

## 문자열 관련 함수

#### 1. 문자 개수 세기(count)

In [73]:
a = "hobby"
a.count('b')

2

#### 2. 위치 알려주기(find)

In [74]:
a = "Python is the best choice"
a.find('b')

14

In [75]:
a.find('k') # 찾는 문자나 문자열이 존재하지 않는다면 -1 반환

-1

#### 2-1. 위치 알려주기(index)

In [178]:
a = "Life is too short"
a.index('t')

8

In [179]:
a.index('k') # 찾는 문자나 문자열이 존재하지 않는다면 오류 발생

ValueError: substring not found

#### 3. 문자열 삽입(join)

In [180]:
",".join('abcd')

'a,b,c,d'

#### 4. 소문자를 대문자로 바꾸기(upper)

In [181]:
a = "hi"
a.upper()

'HI'

#### 5. 대문자를 소문자로 바꾸기(lower)

In [182]:
a = "HI"
a.lower()

'hi'

#### 6. 왼쪽 공백 지우기(lstrip)

In [183]:
a = "  hi  "
a.lstrip()

'hi  '

#### 7. 오른쪽 공백 지우기(rstrip)

In [184]:
a = "  hi  "
a.rstrip()

'  hi'

#### 8. 양쪽 공백 지우기(strip)

In [185]:
a = "  hi  "
a.strip()

'hi'

#### 9. 문자열 바꾸기 (replace)

In [186]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

#### 10. 문자열 나누기(split)

In [187]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

# 리스트 자료형

In [188]:
a = [] # 빈 리스트
b = [1, 2, 3] # 숫자형 리스트
c = ['Life', 'is', 'too', 'short'] # 문자형 리스트
d = [1, 2, 'Life', 'is'] # 숫자와 문자가 같이 있는 리스트
e = [1, 2, ['Life', 'is']] # 리스트 자체를 요솟값으로 가진 리스트

### 리스트의 인덱싱과 슬라이싱

#### 리스트의 인덱싱

In [189]:
a = [1, 2, 3, ['a', 'b', 'c']]
a[0] + a[2]

4

In [190]:
a[-1][0]

'a'

#### 리스트의 슬라이싱

In [191]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [192]:
a[:2]

[1, 2]

In [193]:
a[2:]

[3, 4, 5]

#### 리스트 연산하기

In [194]:
a = [1, 2, 3] # 덧셈
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [195]:
a * 3 # 곱셈

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [196]:
len(a) # 길이 구하기

3

#### 리스트의 수정과 삭제

In [197]:
a = [1, 2, 3] # 수정
a[2] = 4
a

[1, 2, 4]

In [198]:
a = [1, 2, 3, 4, 5]
del a[1:]
a

[1]

### 리스트 관련 함수

#### 1. 리스트에 요소 추가(append)

In [199]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

#### 2. 리스트 정렬(sort)

In [200]:
a = [1, 4, 3, 2]
sort(a)
a

NameError: name 'sort' is not defined

#### 3. 리스트 뒤집기(reverse)

In [201]:
a = ['a', 'b', 'c']
a.reverse()
a

['c', 'b', 'a']

#### 4. 위치 반환(index)

In [202]:
a = [1, 2, 3]
a.index(3)

2

#### 5. 리스트에 요소 삽입(insert)

In [251]:
a = [1, 2, 3]
a.insert(0, 4)

#### 6. 리스트 요소 제거(remove)

In [252]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)

#### 7. 리스트 요소 끄집어내기(pop)

In [253]:
a = [1, 2, 3]
a.pop()

3

#### 8. 리스트에 포함된 요소 x의 개수 세기(count)

In [254]:
a = [1, 2, 3, 1]
a.count(1)

2

#### 9. 리스트 확장(extend)

In [255]:
a = [1, 2, 3]
a.extend([4, 5])

# 튜플 자료형

In [256]:
t1 = ()
t2 = (1,) # 요소가 1개일 땐 , 필수
t3 = (1, 2, 3)
t4 = 1, 2, 3 # 괄호 생략 가능
t5 = ('a', 'b', ('ab', 'cd'))
# 튜플은 값의 생성, 삭제, 수정이 불가하다.

In [257]:
t1 = (1, 2, 'a', 'b')
t1

(1, 2, 'a', 'b')

In [258]:
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [259]:
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [260]:
t2 * 3

(3, 4, 3, 4, 3, 4)

In [261]:
t1 = (1, 2, 'a', 'b')
len(t1)

4

# 딕셔너리 자료형

#### 딕셔너리 쌍 추가, 삭제하기

In [262]:
a = {1: 'a'} # 추가
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [263]:
a[3] = [1, 2, 3]
a

{1: 'a', 2: 'b', 3: [1, 2, 3]}

In [264]:
a = {'name':'sana', 1: [3, 2, 1]} # 삭제
del a[1]
a

{'name': 'sana'}

#### 딕셔너리에서 key 사용해 value 얻기

In [265]:
grade = {'momo': 10, 'sana': 99}
grade['momo']

10

#### 딕셔너리 만들 때 주의할 사항

In [266]:
a = {1:'a', 1:'b'} # key는 고유한 값이므로 중복되는 key 값이 있으면 나머지 값을 무시
a

{1: 'b'}

### 딕셔너리 관련 함수

#### 1. key 리스트 만들기

In [267]:
a = {'name': 'pey', 'phone': '0112321321', 'birth': '0518'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

#### 2. key, value 쌍 얻기

In [268]:
a.items()

dict_items([('name', 'pey'), ('phone', '0112321321'), ('birth', '0518')])

#### 3. key로 value 얻기

In [269]:
a = {'name': 'sana', 'phone': '0213213213', 'birth': '0518'}
a.get('phone')

'0213213213'

#### 4. 해당 key가 딕셔너리 안에 있는지 조사하기

In [270]:
a = {'name': 'sana', 'phone': '0213213213', 'birth': '0518'}
'name' in a

True

In [271]:
'email' in a

False

# 집합 자료형

In [272]:
s1 = set([1, 2, 3])
s1

{1, 2, 3}

In [273]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

## 집합 자료형의 특징

In [274]:
s1 = set([1, 2, 3])
l1 = list(s1) # 리스트로 변환
l1

[1, 2, 3]

In [275]:
t1 = tuple(s1) # 튜플로 변환
t1

(1, 2, 3)

## 교집합, 합집합, 차집합 구하기

In [276]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [277]:
s1 $ s2 # 교집합
s1.intersection(s2)

SyntaxError: invalid syntax (<ipython-input-277-cedbd8f1dfa2>, line 1)

In [278]:
s1 | s2 # 합집합
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [279]:
s1 - s2 # 차집합
s1.difference(s2)

{1, 2, 3}

## 집합 자료형 관련 함수

#### 1. 값 1개 추가하기(add)

In [280]:
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

#### 2. 값 여러 개 추가하기(update)

In [281]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

#### 3. 특정 값 제거하기(remove)

In [282]:
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

# 불 자료형

In [283]:
a = True
b = False

In [284]:
type(a)

bool

In [285]:
type(b)

bool

In [286]:
1 == 1

True

In [287]:
2 > 1

True

In [288]:
2 < 1

False

## 자료형의 참과 거짓

In [233]:
if[1, 2, 3]: # 리스트 안의 값이 있으므로 참을 출력
    print("참")
else:
    print("거짓")

참

In [234]:
a = [1, 2, 3, 4] # a가 참인 동안 리스트의 마지막 요소를 꺼냄
while a:
    a.pop()
a

[]

## 불 연산

In [235]:
bool([1, 2, 3])

True

In [236]:
bool([])

False

# 자료형의 값을 저장하는 공간, 변수

In [289]:
a = 1
b = "python"
c = [1, 2, 3]

## 리스트를 복사할 때

In [290]:
a = [1, 2, 3]
b = a
id(a)

2481700938696

In [239]:
id(b)

2481699184520

#### 1. [:] 사용

In [240]:
a = [1, 2, 3]
b = a[:]
a[1] = 4
a

[1, 4, 3]

In [241]:
b

[1, 2, 3]

#### 2. copy 모듈 사용

In [242]:
from copy import copy
a = [1, 2, 3]
b = copy(a)
a

[1, 2, 3]

In [243]:
b

[1, 2, 3]

In [244]:
b is a

False

## 변수를 만드는 여러가지 방법

In [291]:
a, b = ('python', 'life')
(a, b) = 'python', 'life'

In [292]:
[a, b] = ['python', 'life']

In [293]:
a = b = 'python'

In [294]:
a = 3
b = 5
a, b = b, a